<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">TechnoShop</h1>
        <p class="lead font-weight-normal">Shop all the latest technology.</p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div *ngFor="let pp of products; let i = index;">
        <div *ngIf="i%2 === 0" class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">{{pp.pname}}</h2>
                <p class="lead">{{pp.details}}</p>
                <button class="btn btn-light" (click)="addToCart(pp)">Add to cart</button>
                <img class="img-fluid mt-2" src="assets/imgs/{{pp.image}}">
            </div>
            
        </div>
        <div *ngIf="i%2 !== 0" class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
                <h2 class="display-5">{{pp.pname}}</h2>
                <p class="lead">{{pp.details}}</p>
                <button class="btn btn-dark" (click)="addToCart(pp)">Add to cart</button>
                <img class="img-fluid mt-2" src="assets/imgs/{{pp.image}}">
            </div>
        </div>
    </div>
</div>